/* ConfirmationPage.css */

.confirmation-container {
  background-color: black;
  color: white;
  min-height: 100vh;
  display: flex;
  align-items: center;
  padding: 20px;
}

.confirmation-content {
  background: rgba(
    0,
    0,
    0,
    0.7
  ); /* Slightly transparent background for content */
  border-radius: 20px;
  display: flex;
  align-items: center; /* Center content vertically */
  justify-content: center; /* Center content horizontally */
  box-shadow: 0px 27px 39px rgb(72 72 72 / 50%);
}

.card-image {
  max-width: 100%; /* Ensure the image fits within the column */
  height: auto; /* Maintain aspect ratio */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.ticket-title {
  font-size: 19px;
  font-weight: 900;
  text-align: left;
}

.ticket-container {
  border-bottom: 1px dashed #dad6d6be;
}

ul {
  padding: 0;
}

ul li {
  list-style: none;
  padding: 3px;
}

ul li img {
  padding-right: 11px;
}

.container-mail li {
  font-size: 11px;
}

.confert-title {
  font-size: 20px;
  font-weight: 900;
}

.confert-title span {
  font-size: 12px;
}

.payment {
  background-color: black;
  box-shadow: 0px 27px 39px rgb(72 72 72 / 50%);
  margin-top: 20px;
  padding: 20px 20px !important;
  border-radius: 20px;
}

.btn-primary {
  background-color: #ff0000 !important;
  color: white;
  border: none !important;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background-color: #ff010198 !important;
}
